@font-face {
  font-family: myfont;
  src: url("./font/Poppins-Regular.ttf");
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: myfont;
  
}

html,body{
  width: 100%;
  height: 100%;
 

}

*::-webkit-scrollbar {
  display: none;
}


/* input[type="checkbox"]{
  outline: 1px solid black;
}
input:checked{
  accent-color: white;
  background-color: #fff;
} */

